<section class="container">
	<h1>Employee Details</h1>
	<div class="form-group col-5">
		<label>Id:-</label>
		{{this.employeeData.id}}
	</div>
	<div class="form-group col-5">
		<label>Name:-</label>
		{{this.employeeData.name}}
	</div>
	<div class="form-group col-5">
		<label>Age:-</label>
		{{this.employeeData.age}}
	</div>
	<div class="form-group col-5">
		<label>Dept:-</label>
		{{this.employeeData.dept}}
	</div>
	<div class="form-group col-5">
		<button class="btn btn-primary" type="button" (click)="back()">Back</button>
	</div>
</section>
